@using GoxBit.Helpers;
<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">@Name</MudText>
            @foreach (var tool in Tools)
            {
                <MudChip T="string"
                    Style="@($"color:{Colors.Gray.Lighten5}; background:{tool.ToBadgeColor()};")">
                    @tool.ToString()
                </MudChip>
            }
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <div class="sketchfab-embed-wrapper"> <iframe title="@Name" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="@Url"></iframe> </div>
    </MudCardContent>
</MudCard>
@code{

}